.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}
.fa {
    font-size: 3rem;
    margin: 0 1rem 0 0;
}
.list-group-item-action:hover {
    border-right: 0;
}
.hidden {
    display: none;
}